<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EncryptHub</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- Update the href attribute to point to the correct path -->
    <link rel="stylesheet" href="/static/css/stylesheet1.css">

</head>

<body>
    <h1>EncryptHub</h1>
    
    <div class="button-container">
    
        <a href="/DES/DES" id="desLink">
            <button id="desButton">DES</button>
        </a>
        
        <a href="AES/AES" id="aesLink">
            <button id="aesButton">AES</button>
        </a>

        <a href="PF/PF" id="pfLink">
            <button id="pfButton">Playfair</button>
        </a>
        <a href="HILL/HILL" id="hillLink">
            <button id="hillButton">Hill Cipher</button>
        </a>

    </div>

</body>

</html>
