<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playfair</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- Update the href attribute to point to the correct path -->
    <link rel="stylesheet" href="/static/css/stylesheet1.css">
</head>
<body>
    <h1>Would you like to Encrypt or Decrypt?</h1>
    <div class="button-container">
        <a href="/PF/pfEncryption" id="pfEncryptionLink">
            <button id="pfEncryptionButton">Encrypt</button>
        </a>
        <a href="/PF/pfDecryption" id="pfDecryptionLink">
            <button id="pfDecryptionButton">Decrypt</button>
        </a>
    </div>
</body>
</html>
